.entry {
  font-size: 0.9rem;
  padding: 0.6rem 2.3rem;
  cursor: pointer;
  line-height: 1.5rem;
  color: rgb(35, 155, 209);
}

.entry:hover {
  background-color: rgba(132, 162, 102, .9);
  color: #ffffff;
}